@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import url('http://fonts.googleapis.com/css?family=Open+Sans');

$font: "Open Sans";
$sideBar: 332px;
$headerHeight: 43px;

body {
  position: relative;
  margin: 0;
  font-family: $font;
}

a {
  cursor: pointer;
}

.b-map {
  height: calc(100vh - 43px);
  width: calc(100vw - 347px);
  float: right;
  left: -15px;
}

.b-header {
  height: $headerHeight;
  background-color: #F2F4F6;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: inline;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 10;
  }
}

.b-sidebar {
  width: $sideBar;
  float: left;
  overflow: hidden;
}

.logo__image {
  width: auto;
  height: 100%;
}

.news {
  padding: 0px 15px 25px 15px;

  &:hover {
    background-color: #F2F4F6;
  }

  &__title {
    font-weight: bold;
    font-family: $font;
    font-size: 15px;
    margin: 15px 0px;
  }

  &__content {
    margin: 15px 0px;
    font-size: 12px;
    line-height: 18px;
  }

  &__link {
    margin: 15px 0px;
    margin-bottom: 20px;
    border: solid #2045D0 1px;
    color: #2045D0;
    border-radius: 5px;
    padding: 7px 13px;
    font-size: 10px;
    text-transform: uppercase;
    width: 150px;
    letter-spacing: 1px;
    cursor: pointer;
  }

  &__date {
    font-size: 12px;
    color: #666;
  }

  &__domain {
    font-size: 12px;
    color: #2045d0;
  }

  &__image {
    margin: 0px -15px;
  }

  & img {
    width: 100%
  }
}

.news-list {
  height: calc(100vh - 43px);
  overflow: scroll;
}